<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0{% if page.userscalable == false %}, user-scalable=no{% endif %}">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

<title>{{page.title}}</title>

{% for style in page.styles %}
<link rel="stylesheet" type="text/css" href="media/css/{{style}}.css" />
{% endfor %}

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements aassets queries -->
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->

